#new-customers-section {
    height: auto;
    max-width: 100vw;
    width: 100vw;
}

.new-customers-header-wrapper {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 5px 0;
}

.new-customers-header-wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 32px;
}

.logo-grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-grid {
    width: 80%;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    gap: 50px 0;
}

.logo-grid div {
    display: flex;
    justify-content: center;
}

.logo-grid img {
    height: 130px;
    width: auto;
}

@media only screen and (max-width:1024px) {
    
    .new-customers-header-wrapper h1 {
        font-size: 24px;
        margin-bottom: 0;
    }
    
    .logo-grid {
        gap: 30px;
    }
    
    .logo-grid img {
        height: 80px;
        width: 80px;
    }
}

@media only screen and (max-width:767px) {
    .new-customers-header-wrapper h1 {
        font-size: 16px;
        margin-bottom: 0;
    }
    
    .logo-grid {
        gap: 10px;
    }
    
    .logo-grid img {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (min-width:2250px) {
    #new-customers-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #new-customers-wrapper {
        width: 50vw;
    }
}