#products-section {
    height: 1200px;
    background: linear-gradient(#0F2035 70%, #092F5D 100%);
}

.products-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    text-align: center;
}

.products-header h1 {
    font-size: 4rem;
    letter-spacing: 7px;
    font-weight: 700;
    margin: 0;
    margin-top: 70px;
}

.products-header p {
    margin: 0;
    font-weight: 400;
    margin-top: 35px;
    font-size: 2rem;
    width: 800px;
    line-height: 130%;
}


/* PRODUCTS MENU */
.products-menu {
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.products-menu-wrapper {
    border-bottom: #FAFAFA50 solid 3px;
    padding: 5px 25px;
}

.products-menu-wrapper:active {
    border-bottom: #FAFAFA solid 3px;
}

.products-menu a {
    font-size: 24px;
    font-weight: 500;
    color: #FAFAFA50;
    cursor: pointer;
}

.products-menu a:hover {
    color: #FAFAFA99;
}

.products-menu a:active {
    color: #FAFAFA;
}

/* PRODUCTS */

.products {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.products-wrapper {
    width: 75vw;
    justify-content: center;
}

.products h1 {
    font-size: 50px;
    margin: 0;
    height: 250px;
    width: 450px;
    color: #FAFAFA;
}

.products button {
    padding: 12px 60px;
    font-size: 14px;
    border-radius: 50px;
    background-color: transparent;
    border: solid #FAFAFA 1px;
    color: #FAFAFA;
    cursor: pointer;
}

.products button:hover {
    background-color: #FAFAFA;
    color: #0F2035;
}